.nsw-docs__content {
  padding: 1.5rem 1rem;
  flex-grow: 1;
}

:fullscreen {  
  background: #fff;
  padding:2rem;
  margin:3px;
  .react-table-content-wrapper{
    padding:2rem;
    box-shadow: 0 0.125rem 0.25rem 5px rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 62rem) {
  .nsw-docs__header-wrapper {
    z-index: 300;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
  }

  .nsw-docs__content {
    padding: 3rem 1rem 3rem 3.25rem;
  }
  .content-container {
    padding: 1rem;
    background: #fff;
    box-shadow: 0 0.125rem 0.25rem 5px rgba(0, 0, 0, 0.1);
  }
  .nsw-docs__container {
    max-width: 90%;
  }
}
